<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/syle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Value</title>
</head>
<body>
    <div id="app">

        <header>
            <div id="button-div">
                <button>Sign In</button>
                <button>Sign Up</button>
            </div>
            <div id="slogan">
                <h1>Value</h1>
                <p>Numbers talk, We translate.</p>
            </div>
        </header>

        <main>

            <section id="first-section">
                <div id="container">
                    <p id="titolo">Orchestrate wealth, empower decisions, ignite growt. <strong>All in one financial move.</strong></p>
                    <div id="card-section">
                        <div class="card-first-section">
                            <p id="icon"><i class="fa-solid fa-square-poll-vertical"></i></p>
                            <h5>Risk Management</h5>
                            <p>Tap into our quantitative models for unparalleled accuracy in your portfolio's performance.</p>
                        </div>
                        <div class="card-first-section">
                            <p id="icon"><i class="fa-solid fa-chart-line"></i></p>
                            <h5>Asset Management</h5>
                            <p>Tap into our quantitative models for unparalleled accuracy in your portfolio's performance.</p>
                        </div>
                        <div class="card-first-section">
                            <p id="icon"><i class="fa-solid fa-receipt"></i></p>
                            <h5>Broker Service</h5>
                            <p>Tap into our quantitative models for unparalleled accuracy in your portfolio's performance.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="second-section">
                <div id="wdwats-section">
                   <h1>What do We aim to solve?</h1><p>We are committed to solving these challenges by harnessing the power of machine learning and advanced statistical models. </p> 
                </div>
                <div id="wdwats-container">
                    <div class="wdwats-divs">
                        <h1>Personalization</h1>
                        <p>Overcoming the one-size-fits-all approach in traditional investment strategies.</p>
                    </div>
                    <div class="wdwats-divs">
                        <h1>Dynamicity</h1>
                        <p>Enabling investors to navigate changing market conditions with agile portfolio allocation.</p>
                    </div>
                    <div class="wdwats-divs">
                        <h1>Risk Management</h1>
                        <p>Implementing advanced quantitative methods to assess investment risks effectively.</p>
                    </div>
                </div>
            </section>

            <section id="third-section" class="flex-container align-items-center">
                <div id="third-section-left-container">
                    <div id="third-section-card">
                        <div class="flex-container flex-column gap-5" style="margin-top: 40px;">
                            <p style="font-size: 20px; font-weight: 400;">Your Portfolio</p>
                            <h1 style="font-size: 40px; font-weight: 500;">$ 7.904,08</h1>
                            <div class="flex-container gap-30">
                                <h2>+ $ 103,75</h2>
                                <div class="flex-container gap-5">
                                    <i class="fa-solid fa-caret-up" style="color: #4ec84c; font-size: 30px;"></i>
                                    <h2 style="color: #4ec84c;">+ 3,57%</h2>
                                </div>
                            </div>
                        </div>
                        <div class="flex-container flex-column gap-30" style="margin-bottom: 40px;">
                            <div class="flex-container gap-30">
                                <div>
                                    <i class="fa-solid fa-plus" style="color: #000000; font-size: 40px; background-color: lightgray; padding-inline: 20px;
                                    border-radius: 50px; padding-block: 15px;"></i>
                                    <p style="font-size: 20px; font-weight: 500;">Deposit</p>
                                </div>
                                <div>
                                    <i class="fa-solid fa-map-pin" style="color: #000000; font-size: 40px; background-color: lightgray; padding-inline: 25px;
                                    border-radius: 50px; padding-block: 15px;"></i>
                                    <p style="font-size: 20px; font-weight: 500;">Allocation</p>
                                </div>
                                <div>
                                    <i class="fa-solid fa-down-long" style="color: #000000; font-size: 40px; background-color: lightgray; padding-inline: 25px;
                                    border-radius: 50px; padding-block: 15px;"></i>
                                    <p style="font-size: 20px; font-weight: 500;">Withdrawal</p>
                                </div>
                            </div>
                            <div style="text-align: start;">
                                <h1>Allocation Strategy:</h1>
                                <h2 style="font-weight: 400;">Growt Portfolio</h2>
                                <div class="flex-container align-items-center">
                                    <h2 style="font-weight: 400;">Risk Level :</h2>
                                    <i class="fa-solid fa-circle" style="color: #5b5f67; font-size: 15px; margin-left: 10px;"></i>
                                    <i class="fa-solid fa-circle" style="color: #5b5f67; font-size: 15px;"></i>
                                    <i class="fa-solid fa-circle" style="color: #5b5f67; font-size: 15px;"></i>
                                    <i class="fa-solid fa-circle" style="color: #5b5f67; font-size: 15px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 50%;">
                    <div style="width: 70%; text-align: end;">
                        <h1 style="font-size: 65px; font-weight: 600;">Give all your money a place to grow.</h1>
                        <p style="font-size: 65px;">Keep your portfolio aligned with ever-changing market conditions, helping you manage risk effectively.</p>
                    </div>
                </div>
            </section>
            <hr style="color: lightgray;">
            <section id="fourth-section">
                <div style="width: 50%;">
                    <div style="width: 65%; margin: 0 auto;">
                        <span style="font-size: 65px; font-weight: 600;">Choose your growt level. </span> 
                        <span style="font-size: 65px;">Personalized investment solutions, engineered through cutting-edge quantitative methods.</span>
                    </div>
                </div>
                <div style="width: 50%;">
                    <div id="on-the-right-card" class="flex-container flex-column gap-15" style="margin: 0 auto;">
                        <p style="font-size: 25px; font-weight: 400; text-align: center; padding-top: 25px;">Portfolio <br> Growt Level</p>
                        <div class="flex-container align-items-center gap-15 mini-card">
                            <i class="fa-solid fa-bolt-lightning" style="color: #000000; font-size: 50px;"></i>
                            <p style="font-size: 25px;"><strong>Growth Strategy</strong><br>Balances growt potential and capital caption.</p>
                        </div>
                        <div class="flex-container align-items-center gap-15 mini-card">
                            <i class="fa-solid fa-flag" style="color: #000000; font-size: 50px;"></i>
                            <p style="font-size: 25px;"><strong>Moderate Strategy</strong><br>Seeking a balance between return and capital safety.</p>
                        </div>
                        <div class="flex-container align-items-center gap-15 mini-card">
                            <i class="fa-solid fa-umbrella" style="color: #000000; font-size: 50px;"></i>
                            <p style="font-size: 25px;"><strong>Lazy Strategy</strong><br>Balanced and diversified investment approach.</p>
                        </div>
                        <div class="flex-container align-items-center gap-15 mini-card">
                            <i class="fa-solid fa-shield" style="color: #000000; font-size: 50px;"></i>
                            <p style="font-size: 25px;"><strong>Income Strategy</strong><br>Conservative portfolio who prefer capital preservation.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="slider-section">
                <div id="switch-container">
                    <h3>Opzione ESG</h3>
                    <div id="switch-flex">
                        <h4>OFF</h4>
                        <label class="switch">
                            <input type="checkbox" v-model="esgOption">
                            <span class="slider round"></span>
                        </label>
                        <h4>ON</h4>
                    </div>
                </div>
            
                <div class="container" v-if="!esgOption">
                    <div class="slider-wrapper" tabindex="0">
            
                        <div class="item" @mouseover="stopInterval" @mouseleave="activeInterval">
                            <div class="prev" @click="prevImage"><i class="fa-solid fa-caret-left"></i></div>
                            <div class="next" @click="nextImage"><i class="fa-solid fa-caret-right"></i></div>
                            <img :src="slides[currentImage].image" alt="Spiderman" />
                            <div class="text">
                                <h3>{{ slides[currentImage].title }}</h3>
                                <p>
                                    {{ slides[currentImage].text }}
                                </p>
                            </div>
                        </div>
            
                        <div class="thumbs">
                            <div class="thumb">
                                <img
                                    v-for=" (imageUrl, index) in slides "
                                    :src="imageUrl.image"
                                    class="thumbs"
                                    :class=" ( currentImage === index ) ? 'active' : '' "
                                    @click="changeImage(index)">
                            </div>
                        </div>
            
                    </div>
                </div>
            
                    <div class="container" v-else>
                        <div class="slider-wrapper" tabindex="0">
            
                            <div class="item" @mouseover="stopInterval" @mouseleave="activeInterval">
                                <div class="prev" @click="prevImage"><i class="fa-solid fa-caret-left"></i></div>
                                <div class="next" @click="nextImage"><i class="fa-solid fa-caret-right"></i></div>
                                <img :src="slidesOn[currentImage].image" alt="Spiderman" />
                                <div class="text">
                                    <h3>{{ slidesOn[currentImage].title }}</h3>
                                    <p>
                                        {{ slidesOn[currentImage].text }}
                                    </p>
                                </div>
                            </div>
            
                            <div class="thumbs">
                                <div class="thumb">
                                    <img
                                        v-for=" (imageUrl, index) in slidesOn "
                                        :src="imageUrl.image"
                                        class="thumbs"
                                        :class=" ( currentImage === index ) ? 'active' : '' "
                                        @click="changeImage(index)">
                                </div>
                            </div>
            
                        </div>
                    </div>
            
            </section>
        </main>
    </div>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./assets/script.js"></script>
</body>
</html>