*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header (prima pagina) */

header{
    background-image: url(https://media.canva.com/1/image-resize/1/2250_1500_92_JPG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9UN01Xay9NQUYtcUdUN01Xay8xL3AuanBn?osig=AAAAAAAAAAAAAAAAAAAAAF8l-dYJU_hjetG6jAM4_w7q_F7S4h-XbXhu3oXzJAcB&exp=1709867823&x-canva-quality=screen_3x&csig=AAAAAAAAAAAAAAAAAAAAAGcA1GFbfxak0YDqYC9urlQjv3qrk6zstzYv44cWBm5E);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* sezione navbar */
#button-div{
    position: absolute;
    right: 1%;
    top: 1%;
    display: flex;
    min-width: 250px;
    gap: 5%;
}

#button-div button{
    padding-block: 2%;
    padding-inline: 8%;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#button-div button:hover{
    background-color: rgba(1, 1, 1, 0.2);
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}


/* sezione logo */

header #slogan{
    color: white;
    position: absolute;
    left: 7%;
    top: -3%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#slogan p{
    font-weight: 200;
    font-size: 50px;
    padding-left: 30px;
}

header h1{
    font-weight: 400;
    font-size: 250px;
}

/* fine sezione logo */

/* fine header */



/* Section */

/* First section */

#first-section{
    height: 100vh;
    position: relative;
    background-color: #EEF2F5;
}

#container{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

#container #titolo{
    font-weight: 100;
    font-size: 70px;
    font-family: sans-serif;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

#card-section{
    padding-top: 10%;
    display: flex;
    gap: 50px;
}

.card-first-section{
    width: calc(100% / 3 - 50px);
    min-height: 10px;
    background-color: #DFE3E5;
    padding-block: 2%;
    padding-inline: 2%;
    border-radius: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

.card-first-section #icon{
    font-size: 80px;
}

.card-first-section h5{
    font-size: 40px;
    font-weight: 500;
}

.card-first-section p{
    font-size: 30px;

}

#first-section #container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Second section */

#second-section{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
}

#on-the-left{
    width: 50%;
    background: #011334;
    background: -moz-linear-gradient(-45deg, #011334 0%, #0166FF 50%, #011334 100%);
    background: -webkit-linear-gradient(-45deg, #011334 0%, #0166FF 50%, #011334 100%);
    background: linear-gradient(135deg, #011334 0%, #0166FF 50%, #011334 100%);
    height: 100%;
    color: white;
}

#on-the-left h1{
    font-size: 50px;
    margin-bottom: 5%;
    padding-top: 35%;
    text-align: center;
}

#on-the-left p{
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50vh;
    color: white;
}

.icon{
    font-size: 150px;
}

.card .description{
    font-size: 30px;
}

.card-1{
    display: flex;
}


/* Sezione Slider */
#slider-section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0166FF;
    background: -moz-linear-gradient(-45deg, #0166FF 0%, #071C42 52%, #0166FF 100%);
    background: -webkit-linear-gradient(-45deg, #0166FF 0%, #071C42 52%, #0166FF 100%);
    background: linear-gradient(135deg, #0166FF 0%, #071C42 52%, #0166FF 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    float: left;
    width: 71%;
    height: 60vh;
    position: relative;
}

.item:hover{
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.thumb {
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 1%;
}

.thumb:hover{
    cursor: pointer;
}

.thumb img {
    width: 8%;
    height: 10%;
    object-fit: cover;
}

.thumb.active {
    border: 2px solid #ccc;
    opacity: 1;
}

.prev, .next {
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next {
    bottom: 0;
    right: -40px;
    bottom: 45%;
    font-size: 20px;
}

.prev{
    bottom: 45%;
    font-size: 20px;
}

.active {
    border: 2px solid cornflowerblue;
  }

.none{
    display: none;
}

.block{
    display: block;
}

/* Sezione opzione esg */

#switch-container{
    position: absolute;
    right: 18%;
    top: 18%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}

#switch-flex{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  } 
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  } 
  
  .slider.round:before {
    border-radius: 50%;
  }