*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header (prima pagina) */

header{
    background-image: url(../assets/img/hunter-peak-8568915_1280.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* sezione navbar */

#background-navbar{
    background-color: black;
    width: 100%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding-block: 1%;
}

#right-section{
    display: flex;
    align-items: center;
    gap: 40px;
}

#right-section a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

#right-section a:hover{
    color: gray;
}

#link-container{
    display: flex;
    gap: 20px;
}

#button-id{
    display: flex;
    gap: 10px;
}

#sign-in-button, #sign-up-button{
    padding-block: 2%;
    padding-inline: 10%;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    width: 90px;
}

#sign-in-button{
    background-color: black;
    color: white;
}

#sign-in-button:hover{
    background-color: gray;
    transition: background-color .55s;
}

#sign-up-button:hover{
    background-color: gray;
    color: white;
    transition: background-color .55s;
}


/* sezione logo */

header #slogan{
    color: white;
    position: absolute;
    right: 20%;
    top: 12%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#slogan p{
    font-weight: 200;
    font-size: 50px;
    padding-left: 30px;
}

header h1{
    font-weight: 400;
    font-size: 250px;
}

/* fine sezione logo */

/* fine header */



/* Section */

/* First section */

#first-section{
    height: 110vh;
    font-family: sans-serif;
    position: relative;
    background: #0166FF;
    background: -moz-linear-gradient(-45deg, #0166FF 0%, #011334 0%, #0166FF 100%);
    background: -webkit-linear-gradient(-45deg, #0166FF 0%, #011334 0%, #0166FF 100%);
    background: linear-gradient(135deg, #0166FF 0%, #011334 0%, #0166FF 100%);
}

#first-section #container-1, #container-2{
    width: 50%;
    height: 35vh;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
}

#container-1{
    left: 100px;
    top: 100px;
}

#container-2{
    right: 100px;
    bottom: 100px;
}

#first-section div h1{
    font-size: 40px;
    margin-top: 35px;
    margin-left: 45px;
}

#container-2 h1{
    padding-left: 6%;
}

.flex-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#container-1, #container-2 p{
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
}

#container-1 p{
    width: 45%;
    padding-top: 3%;
}

#container-2 p{
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
}

/* Second section */

#second-section{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
}

#on-the-left{
    width: 50%;
    background: #011334;
    background: -moz-linear-gradient(-45deg, #011334 0%, #0166FF 50%, #011334 100%);
    background: -webkit-linear-gradient(-45deg, #011334 0%, #0166FF 50%, #011334 100%);
    background: linear-gradient(135deg, #011334 0%, #0166FF 50%, #011334 100%);
    height: 100%;
    color: white;
}

#on-the-left h1{
    font-size: 50px;
    margin-bottom: 5%;
    padding-top: 35%;
    text-align: center;
}

#on-the-left p{
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50vh;
    color: white;
}

.icon{
    font-size: 150px;
}

.card .description{
    font-size: 30px;
}

.card-1{
    display: flex;
}

/* Sezione Slider */
#slider-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0166FF;
    background: -moz-linear-gradient(-45deg, #0166FF 0%, #071C42 52%, #0166FF 100%);
    background: -webkit-linear-gradient(-45deg, #0166FF 0%, #071C42 52%, #0166FF 100%);
    background: linear-gradient(135deg, #0166FF 0%, #071C42 52%, #0166FF 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    float: left;
    width: 71%;
    height: 60vh;
    position: relative;
}

.item:hover{
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.thumb {
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 1%;
}

.thumb:hover{
    cursor: pointer;
}

.thumb img {
    width: 8%;
    height: 10%;
    object-fit: cover;
}

.thumb.active {
    border: 2px solid #ccc;
    opacity: 1;
}

.prev, .next {
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next {
    bottom: 0;
    right: -40px;
    bottom: 45%;
    font-size: 20px;
}

.prev{
    bottom: 45%;
    font-size: 20px;
}

.active {
    border: 2px solid cornflowerblue;
  }